<h2> Fare Calculation</h2>

<div class="col-sm-9">
  <%= link_to "Vehicle Based" , vehicles_path, :class => "btn btn-lg btn-info" %>
  <%= link_to "Time Based","", :class => "btn btn-lg btn-info" %><br/>
  <br/>
  <%= link_to "Special Day Based",  new_special_day_path, :class => "btn btn-lg btn-info" %>
  <%= link_to "Additional Charges", "", :class => "btn btn-lg btn-info" %>
</div>