<div class="panel-body">
  <div class="text-center">
    <p style="font-size: 30px;">
      <b>
        Chauffr helps chauffeurs receive and manage bookings on the go
      </b>
    </p>
    
    <p style="font-size: 26px;">
      Clients can book a ride using mobile app or website. Chauffeurs receive and manage the booking on the go, collect payments and send invoices with one click
    </p>

    <%= link_to "GET STARTED", new_user_registration_path, :class => "btn btn-lg btn-primary" %>
  </div>
</div>
