<div class="panel-body">
  <div class="text-center">
    <div class="form-group">
      <p style="font-size: 30px;">
        <b>
          Thanks <%= @name.titleize %>!!
        </b>
      </p>

      <p style="font-size: 26px; margin-bottom: 40px;">
        <i>
          "Its great to have you onboard! 
        </i>
      </p>

      <p style="font-size: 26px; margin-bottom: 40px;">
        <i>
          I will be in touch shortly to set you up with the type of cars,the rates and explain how to promote your business using the combination of the mobile app and the website.
        </i>
      </p>
      
      <p style="font-size: 26px; margin-bottom: 40px;">
        <i>
          Chauffr's key objective is to make it easy for clients to request a ride and for the chauffeurs to easily manage the bookings. 
        </i>
      </p>
      
      <p style="font-size: 26px; margin-bottom: 40px;">
        I am here to help. Talk to you soon."
      </p>
      
      <p style="font-size: 26px;">
        <b>
          <i>
          Vijai Mani - Cofounder & CEO at Chauffr
          </i>
        </b>
      </p>
      
      <div class="form-group">
        <%= link_to "Skip & Continue", profiles_path, :class => "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>